/*==========================================================
align
===========================================================*/
.align-center {text-align: center;}
.align-left {text-align: left;}
.align-right {text-align: right;}

/*==========================================================
flexbox
===========================================================*/
.flex {display:flex;}
.flex-justify-center {justify-content: center;}
.flex-justify-sb {justify-content: space-between;}
.flex-align-c {align-items: center;}
.flex-wrap {flex-wrap: wrap;}
.flex-nowrap {flex-wrap: nowrap;}
.d-b {display: block;}
.d-ib {display: inline-block;}

/*==========================================================
others
===========================================================*/
.radius {
  border-radius: 50px;
}

#width {
  position: fixed;
  bottom: 0%;
  left: 0%;
  background-color: #FF3366;
  color: #fff;
  z-index: 10001;
}

.contentsBox-h1 {
  @include fz(30);
  font-weight: normal;
  text-align: center;
  @include rem("margin-bottom", 20);
}
.contentsBox-h2 {
  @include fz(20);
  text-align: center;
  border: 1px solid $g-theme-color-05;
  @include rem("padding", 10 0);
  @include rem("margin", 40, 0, 20, 0);
}

//codepen表示ここから
// .codepen {
//   .grid {
//     @include rem("padding", 10);
//     //background-color: darken($g-theme-color-06, 7.5%);
//     background-color: rgb(151, 151, 151);
//     border: 1px solid #d8d8d8;
//   }
// }
// .mg-md-5-l {
//   @include rem("margin-left", 5);
//   @include bp() {
//     @include rem("margin-left", 0);
//   }
// }
// .mg-md-5-r {
//   @include rem("margin-right", 5);
//   @include bp() {
//     @include rem("margin-right", 0);
//   }
// }
// .pd-md-5-l {
//   @include rem("padding-left", 5);
//   @include bp() {
//     @include rem("padding-left", 0);
//   }
// }
// .pd-md-5-r {
//   @include rem("padding-right", 5);
//   @include bp() {
//     @include rem("padding-right", 0);
//   }
// }
// .mg-10-md-b {
//   @include rem("margin-bottom", 0);
//   @include bp() {
//     @include rem("margin-bottom", 10);
//   }
// }
//ここまで